{% extends 'ef/base.html' %}

{% block title %}
Trip Log
{% endblock %}

{% block css %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/ef/countdown.css') }}'>
{% endblock %}

{% block body %}
    <div id='header' class='valign-wrapper'>
        <div class='banner grey lighten-4 z-depth-2'>
            <div class='container'>
                <h1 class='center-align'>Welcome Emily!</h1>
                <br>

                <div class='container' id='countdown-box'>
                    <h5 class='center-align'>Time until our Vegas getaway:</h5>
                    <div id='clock' class='center-align' data-countdown="{{endDate}}" data-startdate={{startDate}}>
                    </div>
                </div>

                <div class='progress'>
                    <div id='progress-bar' class='determinate' style='width: 0%;'>
                    </div>
                </div> <!-- end progress bar -->
                <br>

            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
<script src='/static/bower_components/jquery.countdown/dist/jquery.countdown.min.js'></script>
<script src='/static/js/ef_countdown.js'></script>
{% endblock %}
