{% extends 'ef/base.html' %}

{% block title %}
Trip Log
{% endblock %}

{% block css %}
    <link rel='stylesheet' href='{{ url_for('static', filename='css/ef/holder.css') }}'>
{% endblock %}

{% block body %}
    <div id='header' class='valign-wrapper'>
        <div class='banner grey lighten-4 z-depth-2'>
            <div class='container'>
                <h1 class='center-align'>Welcome Emily!</h1>
                <br>
                <h4 class='center-align'>Our next trip is in the works! Stay tuned for updates.</h4>
            </div>
        </div>
    </div>
{% endblock %}
