<div class='card project-card'>
    <div class='card-content'>
        <div class='project-header'>
            <span class='project-title'><strong>Auto-Reverse DNS</strong></span>
            <span class='right grey-text'>Zappos</span>
        </div>

        <div class='project-content'>
            <div class='row'>
                <div class='col s12 m6'>
                    <span>This project was started due to large gaps in the reverse DNS records. Figuring this was something that could be automated, I created a system to read the currect forward records and create reverse records for the company, notifying operations teams of errors and duplicates detected.</span>
                </div>
                <div class='col s12 m6 grey-text'>
                    <span class='project-tech'>Technologies Used</span>
                    <ul class='grey-text'>
                        <li>Python</li>
                        <li>DNS</li>
                        <li>Bind Tools</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
