<div class='card project-card'>
    <div class='card-content'>
        <div class='project-header'>
            <span class='project-title'><strong>Holacracy Mailing Lists</strong></span>
            <span class='right grey-text'>Zappos</span>
        </div>

        <div class='project-content'>
            <div class='row'>
                <div class='col s12 m6'>
                    <span>A project kicked off due to the infrastructure change at Zappos. This project will live read the corporate structure and generate postfix mailing lists for the company. These lists were restricted based on the user's position in the company. It also worked with LDAP to allow users to query for mailing addresses inside their mail client of choice.</span>
                </div>
                <div class='col s12 m6 grey-text'>
                    <span class='project-tech'>Technologies Used</span>
                    <ul class='grey-text'>
                        <li>Python</li>
                        <li>Postfix</li>
                        <li>LDAP / slapd</li>
                        <li>MySQL</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
