<div class='card project-card'>
    <div class='card-content'>
        <div class='project-header'>
            <span class='project-title'><strong>Incident Chat Bot</strong></span>
            <span class='right grey-text'>Zappos</span>
        </div>

        <div class='project-content'>
            <div class='row'>
                <div class='col s12 m6'>
                    <span>A fault resistant jabber bot that notifies, monitors, and documents progress of incidents as they occur in the Zappos environment. The bot also emails interested parties frequent updates to keep the company communication up and reduce downtime.</span>
                </div>
                <div class='col s12 m6 grey-text'>
                    <span class='project-tech'>Technologies Used</span>
                    <ul class='grey-text'>
                        <li>Python (Flask / Celery)</li>
                        <li>Jabber</li>
                        <li>Amazon Web Services (EC2 / ELB)</li>
                        <li>RabbitMQ</li>
                        <li>Jira API</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
