<div class='card project-card'>
    <div class='card-content'>
        <div class='project-header'>
            <span class='project-title'><strong>Portfolio Website</strong></span>
            <span class='right grey-text'>Personal</span>
        </div>

        <div class='project-content'>
            <div class='row'>
                <div class='col s12 m6'>
                    <span>This site was initially started back in 2015 and has recently received a new Material design based facelift. It utilizes Python's Flask library and is currently being hosted on Amazon Web Services (AWS).</span>
                </div>
                <div class='col s12 m6 grey-text'>
                    <span class='project-tech'>Technologies Used</span>
                    <ul class='grey-text'>
                        <li>Python / Flask</li>
                        <li>Amazon AWS</li>
                        <li>Javascript / JQuery</li>
                        <li>HTML 5 / Jinja2 Templating</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
