<div class='card'>
    <div class='card-content'>
        <div class='education-header'>
            <span class='education-title'><strong>AWS Solutions Architect Associate</strong></span>
            <span class='right education-date grey-text'>Certificate ID: AWS-ASA-17505</span>
        </div>

        <div class='education-content'>
            <ul>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>vpn_key</i>
                    <span class='ico-align'><a target='_blank' href='/static/aws_asa_cert.pdf'>View my certificate here</a></span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>Certification covering Amazon Web Service's design principles and best practices. Learning methods to design cost effective, fault tolerant, and scalable infrastructure.</span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>For more information about this certification, check it out <a target='_blank' href='https://aws.amazon.com/certification/certified-solutions-architect-associate/'>here</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
