<div class='card'>
    <div class='card-content'>
        <div class='education-header'>
            <span class='education-title'><strong>AWS Solutions Architect Associate</strong></span>
            <span class='right education-date grey-text'>In Progress</span>
        </div>

        <div class='education-content'>
            <ul>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>In order to continue my education and expand my expertise, I am currently in the process of getting certified by Amazon as an AWS Solutions Architect Associate</span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>For more information about this certification, check it out <a target='_blank' href='https://aws.amazon.com/certification/certified-solutions-architect-associate/'>here</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
