<div class='card'>
    <div class='card-content'>
        <div class='education-header'>
            <span class='education-title'><strong>LPIC 1</strong></span>
            <span class='right education-date grey-text'>LPID: LPI000339884</span>
        </div>

        <div class='education-content'>
            <ul>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>vpn_key</i>
                    <span class='ico-align'><a href='https://cs.lpi.org/caf/Xamman/certification'>Verify me Here</a> <small>(Verification Code: 8nlydar483)</small></span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>Certification covering Linux essentials, installing, maintaining, and configuring Linux systems and networks</span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>For more information on this certification, check it out <a href='https://www.lpi.org/certification/get-certified-lpi/lpic-1-linux-server-professional/'>here</a></span>
                </li>
            </ul>
        </div>
    </div>
</div>
