<div class='card'>
    <div class='card-content'>
        <div class='education-header'>
            <span class='education-title'><strong>University of Michigan</strong></span>
            <span class='right education-date grey-text'>Class of 2014</span>
        </div>

        <div class='education-content'>
            <ul>
                <li class='grey-text'>
                    <i class='material-icons tiny ico-align'>location_on</i>
                    <span class='edu-location ico-align'>Ann Arbor, Michigan</span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>B.S. Computer Science &amp; Engineering</span>
                </li>
                <li class='edu-item ico-align'>
                    <i class='material-icons tiny ico-align'>label</i>
                    <span class='ico-align'>Concentrated in Computer Science, focusing in backend development in a Linux enviroment</span>
                </li>
            </ul>
        </div>
    </div>
</div>
