/* Sidebar css */
#sidenav {
    background-color: #FFFFFF;
}
#sidenav-header {
    padding: 16px;
    background-color: #4D6DE3;
    line-height: normal;
    height: 122px;
}
.sidenav-title {
    font-size: 32px;
    color: #F1FCFD;
}
.sidenav-subtitle {
    font-size: 14px;
    color: #FFFFFF;
}
.sidenav-item-align {
    vertical-align: middle;
}
.sidenav-item-text {
    margin-left: 24px;
    color: #393737;
}
.name-bar {
    background-color: #393737;
}
/* Set offset to account for sidebar on Large Screens */
#content {
    padding-left: 240px;
}
/* Sidebar is hidden so no offset needed */
@media only screen and (max-width : 992px) {
    #content {
        padding-left: 0;
    }
}
/* Main Section: Misc Pieces */
body {
    background-color: #f1f1f1;
}
a {
    color: #4D6DE3;
}
.section-header {
    height: 122px;
    background-color: #4D6DE3;
    padding: 25px;
}
.section-title {
    font-size: 50px;
    vertical-align: middle;
    color: #F1FCFD;
}
.section {
    padding: 25px;
}
.ico-align {
    vertical-align: middle;
}
/* Skills section */
.skill {
    max-width: 100px;
    max-height: 150px;
    display: inline-block;
    margin-right: 10px;
}
.skill-image {
    padding: 4px;
    height: 125px;
}
.skill-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
    height: 25px;
}
.skill-name {
    vertical-align: middle;
    color: #393737;
}
.skill-subsection {
    color: #393737;
}
/* Experience Section */
.experience-header {
    vertical-align: middle;
    margin-bottom: 15px;
}
.experience-title {
    color: #393737;
    font-size: 34px;
    font-weight: bold;
}
.experience-date {
    margin-top: 10px;
}
.exp-align {
    vertical-align: middle;
}
.experience-content li {
    padding-bottom: 6px;
    color: #393737;
}
/* Education */
.education-title {
    font-size: 34px;
    font-weight: bold;
    color: #393737;
}
.education-date {
    margin-top: 10px;
}
.education-content {
    color: #393737;
}
/* Projects */
.project-card {
    color: #393737;
}
.project-title {
    font-size: 34px;
    font-weight: bold;
    color: #393737;
}
.project-header {
    margin-bottom: 15px;
}
.project-tech {
    font-size: 16px;
}
.project-card span{
    color: #393737; !important
}
.project-owner {
    margin-left: 12px;
    margin-bottom: 8px;
}
/* Contact */
.contact-subsection {
    color: #393737;
    padding-bottom: 15px;
}
.input-field textarea {
    padding: 0;
}
.sm-card {
    max-width: 100px;
    max-height: 150px;
    display: inline-block;
    margin-right: 10px;
}
.sm-image-wrap {
    max-height: 125px;
}
.sm-image {
    height: 125px;
    width: 100%;
}
.sm-content {
    padding: 0;
    border-radius: 0 0 2px 2px;
    height: 25px;
}
.sm-name {
    vertical-align: middle;
    color: #393737;
}
