<div class='card'>
    <div class='card-content'>
        <div class='experience-header'>
            <a href='http://www.eecs.umich.edu/dco/about.php'><span class='experience-title'>Departmental Computing Organization <small>(University of Michigan)</small></span></a>
            <span class='right experience-date grey-text'>Jan. 2012 - Dec. 2014</span>
        </div>

        <div class='experience-content'>
            <ul>
                <li>
                    <i class='material-icons tiny exp-align'>local_offer</i>
                    <span class='exp-align'>Computer Consultant</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Designed and built new workstations and servers for University of Michigan's Electrical Engineering and Computer Science department</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Setup and maintained Linux, Mac, and Windows desktop and servers for faculty and graduate students</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Expanded infrastructure across multiple buildings, server rooms, and labs</span>
                </li>
            </ul>
        </div>
    </div>
</div>

