<div class='card'>
    <div class='card-content'>
        <div class='experience-header'>
            <a target='_blank' href='https://zappos.com'><span class='experience-title'>Zappos</span></a>
            <span class='right experience-date grey-text'>Jan. 2015 - Present</span>
        </div>

        <div class='experience-content'>
            <ul>
                <li>
                    <i class='material-icons tiny exp-align'>local_offer</i>
                    <span class='exp-align'>Systems Automation Engineer</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Deploy and maintain Linux servers, both physical and virtual, for employee use and automation tasks in the Zappos network</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Stood up and maintianed important production services, including Postfix, LDAP, and DNS, in a to scale enviroment</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Expanding Zappos network through heavy use of Amazon Web Service's tools and services</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Automate administrative tasks to ease work on Operations teams</span>
                </li>
            </ul>
        </div>
    </div>
</div>

