<div class='card'>
    <div class='card-content'>
        <div class='experience-header'>
            <a href='https://zappos.com'><span class='experience-title'>Zappos</span></a>
            <span class='right experience-date grey-text'>May 2014 - Aug. 2014</span>
        </div>

        <div class='experience-content'>
            <ul>
                <li>
                    <i class='material-icons tiny exp-align'>local_offer</i>
                    <span class='exp-align'>Systems Automation Engineer Intern</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Developed monitoring systems for Zappos network infrastructure</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Deployed applications with docker, to allow for a highly scalable and replicable infrastructure</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Built systems to automate deployment of monitoring systems to production servers</span>
                </li>
            </ul>
        </div>
    </div>
</div>
