<div class='card'>
    <div class='card-content'>
        <div class='experience-header'>
            <a href='https://zappos.com'><span class='experience-title'>Zappos</span></a>
            <span class='right experience-date grey-text'>June 2013 - Aug. 2013</span>
        </div>

        <div class='experience-content'>
            <ul>
                <li>
                    <i class='material-icons tiny exp-align'>local_offer</i>
                    <span class='exp-align'>Systems Operations Engineer Intern</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Interfaced with web APIs to automate on call reporting</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Constructed and deployed internal web applications to increase communication amoung company and the interns</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Deployed python applications to remote linux servers</span>
                </li>
                <li>
                    <i class='material-icons tiny exp-align'>label</i>
                    <span class='exp-align'>Aided in companies transition to a new office</span>
                </li>
            </ul>
        </div>
    </div>
</div>

