<div class='section-header' id='contact'>
    <div class='right-align'>
        <span class='section-title'>Contact</span>
    </div>
</div>

<div class='section'>
    <h5 class='contact-subsection'>Send me a message</h5>

    <div class='card'>
        <div class='card-content'>
            <div class='row'>
                <form class='col s12' action='/contact_submit' method='POST'>
                    <div class='input-field'>
                        <input class='validate' id='name' type='text' name='name' placeholder='Enter Name' required>
                        <label for='name'>Name</label>
                    </div>

                    <div class='input-field'>
                        <input class='validate' id='email' type='email' name='email' placeholder='Enter Email' required>
                        <label for='email'>Contact Email</label>
                    </div>

                    <div class='input-field'>
                        <textarea id='message' class='materialize-textarea validate' name='message' required></textarea>
                        <label for='message'>Message</label>
                    </div>

                    <div class='input-field'>
                        <input class='btn' type='submit' value='Send Message'>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <h5 class='contact-subsection'>Find me on social media</h5>

    <div class='card sm-card'>
        <a href='https://www.linkedin.com/in/scgodbold'>
            <div class='sm-image-wrap'>
                <img class='sm-image' src='static/img/sm_logos/linkedin.png' alt='linkedin-logo'>
            </div>
            <div class='sm-content'>
                <div class='center-align'>
                    <span class='sm-name'>LinkedIn</span>
                </div>
            </div>
        </a>
    </div>
    <div class='card sm-card'>
        <a href='https://github.com/scgodbold'>
            <div class='sm-image-wrap'>
                <img class='sm-image' src='static/img/sm_logos/github.png' alt='github-logo'>
            </div>
            <div class='sm-content'>
                <div class='center-align'>
                    <span class='sm-name'>Github</span>
                </div>
            </div>
        </a>
    </div>
    <div class='card sm-card'>
        <a href='https://twitter.com/scgodbold'>
            <div class='sm-image-wrap'>
                <img class='sm-image' src='static/img/sm_logos/twitter.png' alt='twitter-logo'>
            </div>
            <div class='sm-content'>
                <div class='center-align'>
                    <span class='sm-name'>Twitter</span>
                </div>
            </div>
        </a>
    </div>
</div>
