{% extends 'base.html' %}

{% block title %}
Scott Godbold // Home
{% endblock %}

{% block css %}
<link type='text/css' rel='stylesheet' href='/static/css/base.css' />
{% endblock %}

{% block body %}
    <div id='nav-mobile' class='side-nav fixed grey lighten-4'>
        <div id='logo' class='blue lighten-1'>
            <div>
                <h4 class='logo-title right-align'>Scott</h4>
                <h4 class='logo-title right-align'>Godbold</h4>
                <br>
                <br>

                <h6 class='logo-text right-align'>System Administrator</h6>
                <h6 class='logo-text right-align'>Automation Engineer</h6>
                <h6 class='logo-text right-align'>Python Enthusist</h6>
            </div>
        </div>
        <a href='#introduction' class='waves-effect waves-yellow'>Introduction</a>
        <a href='#experience' class='waves-effect waves-yellow'>Experience</a>
        <a href='#projects' class='waves-effect waves-yellow'>Projecs</a>
        <a href='#skills' class='waves-effect waves-yellow'>Skills</a>
        <a href='#education' class='waves-effect waves-yellow'>Education</a>
        <a href='#contact' class='waves-effect waves-yellow'>Contact Me</a>
    </div>

    <div class='content-container'>
        <div id='introduction' class='section scrollspy valign-wrapper'>
            <div id='banner' class='container section grey lighten-4 z-depth-2'>
                <h1 class='center-align'>Scott M. Godbold</h1>
            </div>
        </div>

        <div id='experience' class='scrollspy'>
            <div class='section-header z-depth-2'>
                <h3>Experience</h3>
            </div>

            <div class='section-container'>

                <div class='card z-depth-1 job'>
                    <div class='card-image waves-effect waves-block waves-light job-head'>
                        <img class='activator' src='/static/imgs/jobs/zappos.jpg' height='250px'>
                    </div>
                    <div class='card-content'>
                        <span class="card-title activator grey-text text-darken-4">Zappos.com<i class="material-icons right">more_vert</i></span>
                        <p>System Automation Engineer <span class='right red-text text-lighten-1'>2015 - Present</span></p>
                    </div>
                    <div class='card-reveal'>
                        <span class="card-title grey-text text-darken-4">Zappos.com<i class="material-icons right">close</i></span>
                        <br>
                        <div class='row'>
                            <div class='col s6'>
                            <p>
                            Building and maintaining scripts and service that build and streghten the companies network. Scripts ran on existing linux systems, as well as new AWS platforms created.
                            </p>
                            </div>
                            <div class='col s6'>
                            <strong>Technology Utilized</strong>
                            <ul>
                                <li><strong>Python</strong> - Used Flask and other libaries to automate process</li>
                                <li><strong>Linux</strong></li>
                                <li><strong>Amazon AWS</strong></li>
                                <li><strong>Git</strong></li>
                                <li><strong>Nginx</strong> - Allow single host to hold multiple distinct sites</li>
                                <li><strong>Bind Tools</strong> - Automation of DNS zone creation and changes</li>
                                <li><strong>Postfix</strong> - Scripted mail list creation</li>
                            </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class='card z-depth-1 job'>
                    <div class='card-image waves-effect waves-block waves-light job-head'>
                        <img class='activator' src='/static/imgs/jobs/dco.png' height='250px'>
                    </div> <!-- end card img -->
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Departmental Computing Organization<i class="material-icons right">more_vert</i></span>
                        <p>IT Consultant <span class='right red-text text-lighten-1'>2012 - 2014</span></p>
                    </div><!-- End front content -->
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Departmental Computing Organization<i class="material-icons right">close</i></span>
                    <br>
                    <div class='row'>
                        <div class='col s6'>
                            Built and maintained computers and servers for the University of Michigan's Electrical Engineering and Computer Science Department. Assuring professors, researchers, and graduate students, were able to have access to the computing resources they required. 
                        </div>
                        <div class='col s6'>
                            <strong>Technology Utilized</strong>
                            <ul>
                                <li><strong>Mac OSX</strong></li>
                                <li><strong>Windows 7 &amp; 8</strong>
                                <li><strong>Linux</strong> - All LTS distros used both as desktops as well as servers.</li>
                                <li><strong>Active Directory</strong> - User account management</li>
                                <li><strong>Bash</strong></li>
                            </ul>
                        </div>
                    </div>
                    </div> <!-- End Reveal Section -->
                </div> <!-- End Card -->

                <div class='card z-depth-1 job'>
                    <div class='card-image waves-effect waves-block waves-light job-head'>
                        <img class='activator' src='/static/imgs/jobs/zappos_intern.jpg' height='250px'>
                    </div> <!-- end card img -->
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Zappos Internship<i class="material-icons right">more_vert</i></span>
                        <p>Systems Engineering Operations Intern <span class='right red-text text-lighten-1'>Summer 2013 &amp; 2014</span></p>
                    </div><!-- End front content -->
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Zappos Intership<i class="material-icons right">close</i></span>
                    <br>
                    <div class='row'>
                        <div class='col s6'>
                        <p>Built scripts to increase communication within the company. Also leveraged various technologies to allow for easier monitoring of the network and to easy the addition of hosts to the network.</p>
                        </div>
                        <div class='col s6'>
                            <strong>Technologies Utilized</strong>
                            <li><strong>SOAP</strong> - XML communication protocol</li>
                            <li><strong>SNMP</strong> - Create monitoring of network switches</li>
                            <li><strong>Python</strong></li>
                            <li><strong>XMatters</strong> - On call report generation</li>
                            <li><strong>Linux</strong></li>
                            <li><strong>Amazon AWS</strong></li>
                        </div>
                    </div>
                    </div> <!-- End Reveal Section -->
                </div> <!-- End Card -->

                <div class='card z-depth-1 job'>
                    <div class='card-image waves-effect waves-block waves-light job-head'>
                        <img class='activator' src='/static/imgs/jobs/lcs.jpg' height='250px'>
                    </div> <!-- end card img -->
                    <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Laingsburg School District<i class="material-icons right">more_vert</i></span>
                        <p>Computer Technician <span class='right red-text text-lighten-1'>2008 - 2010</span></p>
                    </div><!-- End front content -->
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Laingsburg School District<i class="material-icons right">close</i></span>
                        <br>
                        <div class='row'>
                            <div class='col s6'>
                            <p>Configured, maintained, and repaired both Mac and Windows computers to be used in the school districts network. Worked with HTML, CSS, PHP, and other web languages to keep the schools website up to date.</p>
                            </div>
                            <div class='col s6'>
                                <strong>Technologies Utilized</strong>
                                <ul>
                                    <li><strong>Mac OSX</strong></li>
                                    <li><strong>Windows XP</strong></li>
                                    <li><strong>PHP</strong></li>
                                    <li><strong>CSS</strong></li>
                                    <li><strong>HTML</strong></li>
                                </ul>
                            </div>
                        </div>
                    </div> <!-- End Reveal Section -->
                </div> <!-- End Card -->

            </div> <!-- End Job Card Stuff -->
        </div>
    </div>


{% endblock %}

{% block js %}
<script type='text/javascript' src='/static/js/startup.js'></script>
{% endblock %}
