<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>Scott Godbold // Home</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/skeleton/css/normalize.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='bower_components/skeleton/css/skeleton.css') }}">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/static/imgs/favicon.png">

</head>
<body id='intro'>
  <!-- Header
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
      <div class='row'>
          <div class='twelve column' id='header'>
          </div>
      </div>

  <!-- Navbar
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class="container">
      <div class='navbar'>
          <div class='container'>
              <ul class='navbar-list'>
                  <li class='navbar-item'>
                  <a class='navbar-link' href='#intro' id='name'>Scott Godbold</a>
                  </li>
                  <div id='hide-nav'>
                  <li class='navbar-item'>
                    <a class='navbar-link' href='#exp'>Experience</a>
                  </li>
                  <li class='navbar-item'>
                    <a class='navbar-link' href='#edu'>Education</a>
                  </li>
                  <li class='navbar-item'>
                    <a class='navbar-link' href='#projs'>Projects</a>
                  </li>
                  <li class='navbar-item'>
                    <a class='navbar-link' href='#contact'>Contact</a>
                  </li>
              </div>
              </ul>
          </div>
      </div>  <!-- End navbar -->
  </div>


<!-- About Me Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='row section-header'>
      <div class='container'>
          <h5 class='section-text'><strong>About Me</strong></h5>
      </div>
  </div>
  <div class='container section-body' id='exp'>
    <div class="row">
      <div class="twelve column">
          <p>This section is currently being assembled. Thank you for your patience.</p>
      </div>
    </div>
  </div>

<!-- Experience Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='row section-header'>
      <div class='container'>
          <h5 class='section-text'><strong>Experience</strong></h5>
      </div>
  </div>
  <div class='container section-body' id='edu'>
    <div class="row">
      <div class="twelve column">
          <p>This section is currently being assembled. Thank you for your patience.</p>
      </div>
    </div>
  </div>

<!-- Education Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='row section-header'>
      <div class='container'>
          <h5 class='section-text'><strong>Education</strong></h5>
      </div>
  </div>
  <div class='container section-body' id='projs'>
    <div class="row">
      <div class="four columns">
          <h5>Technical Skills</h5>
          <ul>
              <li><strong>Python</strong>: Expert</li>
              <li><strong>Automation</strong>: Advanced</li>
              <li><strong>Git</strong>: Advanced</li>
              <li><strong>Linux</strong>: Advanced</li>
              <li><strong>Amazon Web Services</strong>: Intermediate</li>
              <li><strong>Bash</strong>: Intermediate</li>
              <li><strong>MySQL</strong>: Intermediate</li>
          </ul>
      </div>
      <div class="four columns">
          <h5 class='center-text'>University of Michigan</h5>
          <img height='200px' id='logo' src='/static/imgs/uofm.png'>
          <p class='center-text'><strong>B.S. Computer Science &amp; Engineering</strong>
          University of Michigan - 2015</p>
      </div>
      <div class="four columns">
          <h5>Certifications</h5>
          <ul>
              <li>LPIC Level 1</li>
              <li>CompTIA Linux+</li>
              <li>SUSE Linux Administrator</li>
          </ul>
          <p>I am also in the proccess of obtaining my AWS Solutions Architect (Associate) certification, as well as my Cisco CCENT certification.</p>
      </div>
    </div>
  </div>

<!-- Projects Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='row section-header'>
      <div class='container'>
          <h5 class='section-text'><strong>Projects</strong></h5>
      </div>
  </div>
  <div class='container section-body' id='contact'>
    <div class="row">
      <div class="twelve column">
          <p>This section is currently being assembled. Thank you for your patience.</p>
      </div>
    </div>
  </div>

<!-- Contact Me Section
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <div class='row section-header'>
      <div class='container'>
          <h5 class='section-text'><strong>Contact</strong></h5>
      </div>
  </div>
  <div class='container'>
    <div class="row">
      <div class="twelve column">
          <p>This section is currently being assembled. Thank you for your patience.</p>
      </div>
    </div>
  </div>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
</body>
</html>
