<ul class='side-nav fixed' id='sidenav'>
    <li id='sidenav-header' class='right-align hide-on-med-and-down'>
        <span class='sidenav-title'>Scott Godbold</span><br>
        <span class='sidenav-subtitle'>Systems Administrator</span><br>
        <span class='sidenav-subtitle'>Systems Automation Engineer</span>
    </li>
    <li class='sidenav-item'>
        <a href='#skills'>
            <i class='material-icons sidenav-item-align orange-text text-accent-1'>assessment</i>
            <span class='sidenav-item-align sidenav-item-text'>Skills</span>
        </a>
    </li>
    <li class='sidenav-item'>
        <a href='#experience'>
            <i class='material-icons sidenav-item-align deep-purple-text text-accent-1'>work</i>
            <span class='sidenav-item-align sidenav-item-text'>Experience</span>
        </a>
    </li>
    <li class='sidenav-item'>
        <a href='#projects'>
            <i class='material-icons sidenav-item-align green-text text-accent-2'>build</i>
            <span class='sidenav-item-align sidenav-item-text'>Projects</span>
        </a>
    </li>
    <li class='sidenav-item'>
        <a href='#education'>
            <i class='material-icons sidenav-item-align blue-text text-accent-1'>account_balance</i>
            <span class='sidenav-item-align sidenav-item-text'>Education</span>
        </a>
    </li>
    <li class='sidenav-item'>
        <a href='#contact'>
            <i class='material-icons sidenav-item-align red-text text-accent-1'>email</i>
            <span class='sidenav-item-align sidenav-item-text'>Contact</span>
        </a>
    </li>
    <li class='sidenav-item'><hr/></li>
    <li class='sidenav-item'>
        <a href='#resume'>
            <i class='material-icons sidenav-item-align grey-text text-darken-4'>description</i>
            <span class='sidenav-item-align sidenav-item-text'>Download Resume</span>
        </a>
    </li>
    </div>
</ul>

<div class='navbar-fixed hide-on-large-only'>
    <nav class='name-bar'>
        <div class="nav-wrapper">
            <a href='static/resume.pdf' data-activates='sidenav' class='button-collapse'><i class="mdi-navigation-menu"></i></a>
            <span class="brand-logo center">Scott Godbold</span>
        </div>
    </nav>
</div>
